@*@model EmployeeManagementPortal.Models.Employee*@
@model IEnumerable<EmployeeManagementPortal.Models.Department>

@{
    ViewBag.Title = "Details";
}

<style>

    #salarySlips {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        #salarySlips td, #salarySlips th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #salarySlips tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #salarySlips tr:hover {
            background-color: #ddd;
        }

        #salarySlips th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    h2 {
        text-align: center;
    }
</style>

<h2>Details</h2>


<h4>Salary Slips</h4>
<hr />
@Html.ActionLink("Create", "Create")
<table id="salarySlips">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Id)</th>
        <th> @Html.DisplayNameFor(model => model.Department_Name)</th>
        <th>Crud Operations</th>
    </tr>


    @foreach (var department in Model)
    {
        <tr>
            <td>@department.Id</td>
            <td>@department.Department_Name</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = department.Id })
                @Html.ActionLink("Delete", "Delete", new { id = department.Id })
            </td>
        </tr>
    }
</table>
